---
Checks: >-
    *,
    -modernize-use-trailing-return-type,
    -llvm-header-guard,
    -google-runtime-references,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -fuchsia-default-arguments-calls,
    -cppcoreguidelines-avoid-c-arrays,
    -hicpp-avoid-c-arrays,
    -modernize-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
...
