home            /home/s0001191
doc             /home/s0001191/Documents
downloads       /home/s0001191/Downloads
pi              /home/s0001191/pi
repos           /home/s0001191/repos
src             /home/s0001191/repos/src
zis_scenarios   /home/s0001191/repos/src/deployment/z2_vcc_spa2/scenarios/targettracking
frycache        /home/s0001191/repos/src/stringent/frycache
scenarios       /home/s0001191/repos/src/stringent/tools/fry/scenarios/targettracking/
tmp             /home/s0001191/repos/src/tmp
scripts         /home/s0001191/repos/scripts
testcode        /home/s0001191/repos/testcode
mnt             /mnt
vm              /mnt/vm000445
dl              /mnt/dl01
zebra           /mnt/zebra01
jump_dir        /home/s0001191/repos/jump_dir
vm_frycache     /mnt/vm000445/repos/src/stringent/frycache
vm_src          /mnt/vm000445/repos/src
tt              /home/s0001191/repos/TargetTracking
tta             /home/s0001191/repos/TargetTracking/tools/analysis
bb              /home/s0001191/.bash_bjorn
fstab           /etc/fstab
bashrc          /home/s0001191/.bashrc
gitconfig       /home/s0001191/.gitconfig
sshconfig       /home/s0001191/.ssh/config
jdconfig        /home/s0001191/repos/jump_dir/jump_dir.config
